* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(51, 60, 58);
  font-size: 14px;
  color: #b3b3b3;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}

/* Fixed */
/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: pink;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: calc(100% - 90px);
  background: blue;
}
.main-content {
  width: calc(100% - 320px);
  margin-left: 320px;
  padding: 20px;
} */

/* Float */
/* .main {
  height: calc(100% - 90px);
  overflow: hidden;
}
.main:after {
  content: '';
  display: table;
  clear: both;
}
.main-nav {
  float: left;
  width: 320px;
  height: 100%;
  background: blue;
}
.main-content {
  float: left;
  width: calc(100% - 320px);
  height: 100%;
  background-color: orange;
  overflow-y: scroll;
} */


/* Flex */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100%;
  background: black;
}
/* main-nav-header */
.main-nav-header {
  background-color: black;
  /* border-left: 3px solid green; */
}
.logo_spotify {
  width: 50%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.home {
  width: 8%;
  margin-left: 10px;
}
.search {
  width: 8%;
  margin-left: 10px;
}
.libreria {
  width: 8%;
  margin-left: 10px;
}
.lista_cerca  li:first-child  {
  border-left: 3px solid green;
}
.lista_cerca a {
  line-height: 30px;
}

.selezione {
  padding-left: 5px;
  vertical-align: middle;
}
.selezione:hover {
  color:white;
}
.lista_cerca li:first-child {
  color:white;
}
/* main-nav-main */

.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  background-color: black;
}
.playlist {
  color: white;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.bottone {
  position:relative;
  display: inline;
  line-height: 40px;
  cursor: pointer;
}
.bottone:hover {
  color:white;
}
.btn_big {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #b3b3b3;
  margin-left: 10px;
  line-height: 40px;
}
.btn_big:hover {
  background-color: white;
}
.bottone  .btn_big i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 30px;
}
.crea_play {
 vertical-align: top;
 margin-left: 5px;
}
.playlist_name li {
  margin-left: 10px;
  padding: 5px;
}
.playlist_name li:hover {
  color:white;
}
/* main-nav-footer */
.main-nav-footer {
  background-color: black;
}
.install {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.icon_download {
  margin-right: 10px;
}
.install:hover {
  color:white;
}
.divisore {
  width: 80%;
  border: 1px solid #b3b3b3;
}
.install_two {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  color:white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.icon_man {
  width: 40px;
  margin-right: 10px;
  margin-bottom: 20px;
}

/* main content */
.main-content {
  width: calc(100% - 320px);
  height: 100%;
  background-color: rgb(31, 29, 28);
  overflow-y: scroll;
}
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 320px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}
.btn {
  display: inline-block;
  font-size: 15px;
  color:white;
  background-color: #121212;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  padding: 5px;
  transition: all 2s linear 1s
}
.btn:hover {
  transform: scale(1.3);
}
/* menu-scelta-generi */
.scelte_generi {
  margin-top: 90px;
  width: 100%;
  /* height: 90px; */
  padding: 20px 120px;
}
.flex-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  list-style: none;
  width: 100%;
  /* background-color: red; */
}
.flex-container li {
  flex-basis: calc(100% / 6);
  padding: 10px 10px;
  width: 100%;
}
.scelte_interne li:first-child {
  border-bottom: 2px solid green;
}
.flex-container li:hover {
  color:white;
}
/* righe-lista-canzoni */

.recently {
  margin-left: 10px;
  margin-bottom: 20px;
}
.recently p {
  font-size: 20px;
  font-weight: bold;
  color:white;
  paddng-bottom: 20px;
}
.canzoni {
  display:flex;
  flex-direction: row;
  margin-left: 10px;
}
.canzoni .box_play {
  flex-basis: calc(100% / 6);
  /* padding:10px 20px; */
}
.box_play {
  /* position: relative; */
  width: 100%;
  margin: 5px 10px;
  /* overflow: hidden; */
  cursor: pointer;
}
.box_play h3 {
  text-align: center;
  color:white;
  padding-bottom: 5px;
}
.box_play p {
  text-align: center;
}
.box_play img {
  width: 100%;
}
.box_image {
  position:relative;
  width: 100%;
}
.box_image .box_layover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.box_image .box_layover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
}
.box_image:hover .box_layover {
  display:block;
}

.circle_image {
  border-radius: 300px;
}
/* footer */
.footer {
  width: 100%;
  height: 90px;
  background-color: rgb(51, 60, 58);
}
.footer_container {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.box_left {
  margin-top: 10px;
  padding-right: 15px;

}
.box_center {
  flex-grow: 2;
  margin-top: 10px;
  padding: 0 15px;
}
.box_right {
  margin-top: 10px;
  padding-left: 15px;

}
/* box-left */
.first {
  width: 100%;
  line-height: 20px;
}
.sinister_image {
  width: 18%;
  height: 18%;
  vertical-align: middle;
}
.first h3  {
  display: inline-block;
  font-size: 12px;
  padding-left: 10px;
  color: white;
  margin-right: 80px;
}
.brano {
  color:#b3b3b3;
  text-decoration: none;
}
.brano:hover {
  color: white;
  text-decoration: underline;
}
.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.cambio_colore {
  color: #b3b3b3;
  cursor:pointer;
}
.cambio_colore:hover {
 color:white;
}
/* box_center */
.second {
  width: 100%;
  line-height: 20px;
}
.icon_play {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.change_color {
  color:white;
  cursor:pointer;
}
.timing {
  width: 100%;
  display: inline-block;
}
/* .time {
  display: inline-block;
} */
.line_download {
  font-size: 40px;
  line-height: 40px;
}
.line_dowload:before,
.line_download:after {
  content:'';
  display: inline-block;
  width: 40%;
  height: 4px;
  margin-top: -10px;
  /* margin: 0 20px; */
  border-radius: 4px;
  background: #b3b3b3;
  vertical-align: middle;
}
/* .icon_play_big {
  display: inline-block;
  width: 80px;
  height: 80px;
} */

/* .change_color_big {
  width: 80px;
  height: 80px;
} */
/* box_right */

.third {
  width: 100%;
  line-height: 20px;
}
