* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-size: 14px;
  color: #b3b3b3;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}

/* Fixed */
/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: pink;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: calc(100% - 90px);
  background: blue;
}
.main-content {
  width: calc(100% - 320px);
  margin-left: 320px;
  padding: 20px;
} */

/* Float */
/* .main {
  height: calc(100% - 90px);
  overflow: hidden;
}
.main:after {
  content: '';
  display: table;
  clear: both;
}
.main-nav {
  float: left;
  width: 320px;
  height: 100%;
  background: blue;
}
.main-content {
  float: left;
  width: calc(100% - 320px);
  height: 100%;
  background-color: orange;
  overflow-y: scroll;
} */


/* Flex */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100%;
  background: black;
}
/* main-nav-header */
.main-nav-header {
  background-color: black;
  /* border-left: 3px solid green; */
}
.logo_spotify {
  width: 50%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.home {
  width: 8%;
  margin-left: 10px;
}
.search {
  width: 8%;
  margin-left: 10px;
}
.libreria {
  width: 8%;
  margin-left: 10px;
}
.lista_cerca  li:first-child  {
  border-left: 3px solid green;
}
.lista_cerca a {
  line-height: 30px;
}

.selezione {
  padding-left: 5px;
  vertical-align: middle;
}
.selezione:hover {
  color:white;
}
.lista_cerca li:first-child {
  color:white;
}
/* main-nav-main */

.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  background-color: black;
}
.playlist {
  color: white;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.bottone {
  position:relative;
  display: inline;
  line-height: 40px;
  cursor: pointer;
}
.bottone:hover {
  color:white;
}
.btn_big {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #b3b3b3;
  margin-left: 10px;
  line-height: 40px;
}
.btn_big:hover {
  background-color: white;
}
.bottone  .btn_big i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 30px;
}
.crea_play {
 vertical-align: top;
 margin-left: 5px;
}
.playlist_name li {
  margin-left: 10px;
  padding: 5px;
}
.playlist_name li:hover {
  color:white;
}
/* main-nav-footer */
.main-nav-footer {
  background-color: black;
}
.install {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.icon_download {
  margin-right: 10px;
}
.install:hover {
  color:white;
}
.divisore {
  width: 80%;
  border: 1px solid #b3b3b3;
}
.install_two {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  color:white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.icon_man {
  width: 40px;
  margin-right: 10px;
  margin-bottom: 20px;
}

/* main content */
.main-content {
  width: calc(100% - 320px);
  height: 100%;
  background-color: rgb(91, 81, 80);
  overflow-y: scroll;
}
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 320px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}
.btn {
  display: inline-block;
  font-size: 15px;
  color:white;
  background-color: #121212;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  padding: 5px;
}
.btn {
  transition: width 2s linear 1s
}
.btn:hover {
  transform: scale(1);
}
.scelte_generi {
  margin-top: 90px;
  width: 100%;
  /* height: 90px; */
  padding: 20px 120px;
}
.flex-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  list-style: none;
  width: 100%;
  /* background-color: red; */
}
.flex-container li {
  flex-basis: calc(100% / 6);
  padding: 10px 10px;
  width: 100%;
}
.scelte_interne li:first-child {
  border-bottom: 2px solid green;
}
.flex-container li:hover {
  color:white;
}
/* .top_box {
  position: relative;

}
.line_top {
  position: absolute;
  top: -10px;
  left: 10%;
  background:rgb(91, 81, 80);
  width: 60px;
  height: 20px;
} */

/* footer */
.footer {
  width: 100%;
  height: 90px;
  background-color: pink;
}
